body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    background: linear-gradient(to right, rgba(8, 163, 50,.4), rgba(8, 163, 50,.1));
    padding: 1% 1%;
}

.calculator{
    display: none;
}

.calculator.selected{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0% 1%;
}

#calculator-form{
    display: flex;
    flex-direction: column;
}

.form-item{
    margin: 1.5% 0%;
}

.calc-input{
    height: 5mm;
    font-size: 5mm;
}

#results{
    display: none;
}

#results.selected{
    display: block;
    margin: 2% 0%;
}

.posts{
    display: none;
}

.posts.selected{
    display: block;
    padding: 0% 1%;
}

#create-post{
    background-color: rgba(0,0,0,.05);
}

.hidden{
    display: none;
}

.textarea {
    resize: none;
    white-space: pre-wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.border{
    border-top-style: solid;
    border-color: black;
    border-width: 1px;
}
.top-post{
    padding: .5% .5%;
    background: rgba(0,0,0,.05);
    margin-bottom: 1%;
}

.title{
    font-weight: bold;
}

.content{
    margin: 1% 0%;
}

.date{
    font-size: 12px;
    margin-bottom: .5%;
}

pre{
    white-space: pre-wrap;
    word-wrap: break-word;
}

.comments{
    margin-left: 3%;
    margin-top: 1%;
}

.comment{
    margin-bottom: 2%;
    background: rgba(0,0,0,.05);
    padding: .5%;
}

.comment-date{
    font-size: 12px;
}

#skip-links{
    background: linear-gradient(to right, rgba(8, 163, 50,.4), rgba(8, 163, 50,.1));
    padding: .5%;
}

#footer-div{
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.air-quality{
    display: none;
}

.air-quality.selected{
    display: block;
}

th, td{
    border: 1px solid black;
    padding: 5px;
}

#loader{
    position: absolute;
    left: 50%;
    top: 50%;
    border: 16px solid rgba(8, 163, 50,.4);
    border-top: 16px solid rgba(8, 163, 50,.1); 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    0% {trsnsform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }

