.calculator{
    display: none;
}

.calculator.selected{
    display: block;
}

.posts{
    display: none;
}

.posts.selected{
    display: block;
}

.single-post{
    display: none;
}

.single-post.selected{
    display: block;
}

.hidden{
    display: none;
}

.textarea {
    font-family: 'Times New Roman', Times, serif;
    resize: none;
    white-space: pre-wrap;
}

div{
    font-family: 'Times New Roman', Times, serif;
}

.border{
    border-top-style: solid;
    border-color: black;
    border-width: 1px;
}

.title{
    font-weight: bold;
}

.date{
    font-size: 14px;
}