.calculator{
    display: none;
}

.calculator.selected{
    display: block;
}

.posts{
    display: none;
}

.posts.selected{
    display: block;
}

.single-post{
    display: none;
}

.single-post.selected{
    display: block;
}

.hidden{
    display: none;
}

#content {
    font-family: 'Times New Roman', Times, serif;
    resize: none;
    white-space: pre-wrap;
}

.one-post{
    font-family: 'Times New Roman', Times, serif;
}

#border{
    border-bottom-style: solid;
    border-color: black;
    border-width: 1px;
}

.title{
    font-weight: bold;
}

.date{
    font-size: 14px;
    font-
}