<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <title>Create post</title>
</head>
<body>
<header>
    <a href="">Log out</a> | <a href="/">Home</a>
</header> 
<h2>Hello, {{name}}. You are now logged in, click <button id="proceed">here</button> to be directed to the authorized users page.</h2>

{% block javascript %}
<script type="text/javascript"> 
{% include "create_post.js" %} 
</script>
{% endblock %}


</body>
</html>