<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <title>Create post</title>
</head>
<body>
<div id="full_body">
<header>
    <a id="sign_up" href="">Sign up</a> | <a id="login" href="">Login</a> | <a id="home" href="">Home</a> | <a id="refresh" href="">Refresh</a> <a class="extra_nav"></a>
</header> 
<div id="keep_header">
<br>
<h2>Create a new post</h2><br>
<form id="post_form" autocomplete="off">
    <label for="title">Title</label><br>
    <input type="text" id="title" required><br>
    <label for="content">Content</label><br>
    <textarea type="textarea" id="content" rows="10" cols="40" required></textarea><br>
    <button type="submit">Post</button>
</form>



{% block javascript %}
<script type="text/javascript"> 
{% include "create_post.js" %} 
</script>
{% endblock %}
</div>
</div>
</body>
</html>