<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <title>Get all posts</title>
</head>
<body>
<div id="full_body">
    <header>
        <a id="sign_up" href="">Sign up</a> | <a id="login" href="">Login</a> | <a id="home" href="">Home</a> | <a id="refresh" href="">Refresh</a> <a class="extra_nav"></a>
    </header>  
<div id="keep_header">
<br>
<h2>All Posts</h2><br>
<div id="query">
    <a id="next_ten" href="">Next 10 posts>></a>
</div>
<p id="posts">
{% for item in posts %}
    <br>
    {% for index in item %}
        {{index}} <br>
{% endfor %} 
{% endfor %} 

</p>




{% block javascript %}
<script type="text/javascript"> 
{% include "get_post.js" %} 
</script>
{% endblock %}
</div>
</div>
</body>
</html>