<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
        </script>
        <link href="/static/main.css" rel="stylesheet">

        <title>Welcome to Pando</title>
    </head>
    <body>
        <header>
            <a id="homeLink" data-id="calculator" href="">Home</a> | <a id="postsLink" data-id="posts" data-class="postLink" href="">Post Something</a>
        </header>
        
        <div class="calculator selected">
        <h2>Dilution Calculator</h2>
        <form id="form" data-id="calculatorForm" autocomplete="off">
            <label for="everclear">Alcohol by Volume (ABV) of grain alcohol (not proof)</label><div></div>
            <input type="number" step=".01" pattern="[0-9]*" inputmode="decimal" id="everclear" required><div></div><br>
            <label for="final">Desired ABV of final product (not proof)</label><div></div>
            <input type="number" step=".01" pattern="[0-9]*" inputmode="decimal" id="final" required><div></div><br>
            <label for="volume">Total volume of final product (e.g. 64oz = 64)</label><div></div>
            <input type="number" step=".01" pattern="[0-9]*" inputmode="decimal" id="volume" required><br><br>
            <div><button type="submit" id="calculate">Calculate</button></div>
        </form>
            <div>Volume of grain alcohol needed (ounces/mL/etc.):
            <h2><p id="answer"></p></h2>
            </div>
            <footer>Note: The unit of measure for "Total volume of final product" must match the unit of measure for "Volume of grain alcohol needed" (ounces for ounces, mL for mL, etc.)</footer>
        </div>

        <div class="posts">
            <h2>All posts</h2>
            <div id="create-post">
                <form id="post-form" autocomplete="off">
                    <label for="title">Title</label><br>
                    <input type="text" id="title" required><br>
                    <label for="content">Content</label><br>
                    <textarea type="textarea" id="content" rows="10" cols="40" required></textarea><br>
                    <button type="submit">Post</button>
                </form>
            </div>
            <pre><span class="one-post"></span></pre>
            <br>
            <span id="previous-tenLink" data-id="posts" data-class="previous-ten"></span><span id="next-tenLink" data-id="posts" data-class="next-ten"></span>
        </div>
        <div class="single-post">
            This is the single post page
        </div>
   
        <script src="/static/index.js"></script>  

    </body>

    
</html>