<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
        </script>
        <link href="/static/main.css" rel="stylesheet">

        <title>Pando</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    </head>
    <!-- calculator page only -->
    <body>
        <header>
            <a id="home-link" data-id="calculator" data-class="home-link" href="home">Calculator</a> | <a id="posts-link" data-id="posts" data-class="post-link" href="get_post" data-skip="0">Post Something</a> | <a id="air-quality" data-id="air-quality" data-class="air-quality-link" href="getAirQuality">Air Quality</a> | <a id="listing-link" data-id="listings" data-class="listing-link" href="getListings">TV Sports</a>
        </header>
        
        <div id="loader"></div>
        <div class="main hidden">

        <div class="calculator selected">
            <h2>Dilution Calculator</h2>
            <form id="calculator-form" data-id="calculatorForm" autocomplete="off">
                <div class="form-item"><label for="everclear">What is the alcohol by volume (ABV) of your grain alcohol? Enter only numbers and decimal points (no "%" symbols)</label></div>
                <div class="form-item"><input id="everclear" max="100" size="5" type="number" step=".01" pattern="[0-9]*" inputmode="decimal" class="calc-input" required> %</div>
                <div class="form-item"><label for="final">What would you like the ABV of your final product to be?</label></div>
                <div class="form-item"><input id="final" max="100" size="5" type="number" step=".01" pattern="[0-9]*" inputmode="decimal" class="calc-input" required> %</div>
                <div class="form-item"><label for="volume">What will the total volume of your final product be? This can be any amount you like. Enter only numbers and decimal points.</label></div>
                <div class="form-item"><input size="7" type="number" step=".01" pattern="[0-9]*" inputmode="decimal" class="calc-input" id="volume" required></div>
                <div class="form-item"><button type="submit" id="calculate">Calculate</button></div><br>
            </form>
            <div id="results">
                <div>
                This is the volume of grain alcohol you need to achieve the desired ABV for your final product:
                </div>
                <div><h2 id="answer"></h2></div>
                <div id="footer">Note: The unit of measure (e.g. ounces, milliliters, etc.) must be the same for all volumes used in this calculator. So if you measured your desired final product volume in ounces, you should also measure your grain alcohol in ounces.</div>
            </div>
        </div>
<!-- message board begins here -->
        <div id="posts" class="posts">
            <div id="create-post">
                <h2>Create a post</h2>
                <form id="post-form" autocomplete="off">
                    <label for="title">Title</label><br>
                    <input type="text" id="title" required maxlength="120" size="30"><br>
                    <label for="content">Content</label><br>
                    <textarea class="textarea" type="textarea" id="content" rows="10" cols="50" required></textarea><br>
                    <button type="submit">Post</button>
                </form>
            </div>
            <h2>All posts</h2>
            <div class ="ten-posts-template" style="display: none"></div>
                <div id="clone-div" style="display:none">
                    <div class='clone-border' style="display:none"></div>
                    <div class='top-post-clone' id='post' style="display:none">
                        <div class='title-date'>
                            <span class='title'></span> | <span class='date'></span>
                        </div>
                        <pre><div class='content'></div></pre>
                        <div class='comment-reply-link' id='comment-reply-link'>
                            <span id='link'>
                                <a id='comment-link' class='comment-link' data-id='posts' data-class='comment' href=''>Comments</a> | 
                                <a id='reply-link' class='reply' data-id='posts' data-class='reply' data-post-number='' href=''>Reply</a>
                                <a id='toggle-link' class="toggle-link" data-id='posts' data-class='toggle' href='' style="display:none"> | Hide comments</a>
                            </span> 
                        </div>
                        <div class='reply-form-div' id='reply-form-div'></div>
                    </div>


                    <form class='reply-form-template' autocomplete='off' style="display:none">
                        <textarea class='textarea' type='textarea' id='reply' rows='10' cols='50' required></textarea>
                        <input id='comment-id' value='' style="display: none"><br>
                        <button type= 'submit' id="reply-button">Add comment</button> <button type= 'button' id= 'cancel-button'>Cancel</button><br>
                    </form>

                    <div class="comments-template" id="comments" style="display:none"></div>
                        <div class="comment-template" id="" style="display: none">
                            <div class="comment-date"></div>
                            <pre><div class="comment-content"></div></pre>
                        </div>

                    
                </div>

            <div id="skip-links">
                <span>
                    <a href='get_post' id='previous-ten' class="skip-links" data-id='posts' data-class='previous-ten'>Previous 10 posts | </a> 
                    <a href='get_post' id='next-ten' class="skip-links" data-id='posts' data-class='next-ten'>Next 10 posts</a>
                </span>
            </div>
        </div>
<!-- air quality page -->
        <div class="air-quality" id="aqi-div">
            <h2>Particulate Matter (2.5) Air quality index for Phoenix, AZ</h2>
            <table id="aqi-table">

                <tr id="table-header">
                    <th>Date + time (in hours)</th>
                    <th>City, State</th>
                    <th>AQI</th>
                    <th>Category</th>
                    <th>Ozone</th>
                    <th>Ozone Category</th>
                </tr>

                <tr class="row-template" style="display:none">
                    <td class="col1"></td>
                    <td class="col2"></td>
                    <td class="col3"></td>
                    <td class="col4"></td>
                    <td class="col5"></td>
                    <td class="col6"></td>
                </tr>

            </table>
            <br>
            *This table is updated automatically every 6 hours.

            Source: airnow.gov
        </div>

<!-- TV listings page -->
        <div class="listings" id="listing-div">
            <h2>Game times and channels in Arizona</h2>
            <div id = "listing-template"></div>
            <div id = "listings"></div>
        </div>

        <script src="/static/index.js"></script>  
        <script src="/static/postSomething.js"></script>
        <script src="/static/aqiPage.js"></script> 
        <script src="/static/listings.js"></script>
        </div>
    
    </body>

    
</html>