<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
        </script>
        <link href="/static/main.css" rel="stylesheet">

        <title>Welcome to Pando</title>
    </head>
    <body>
        <header>
            <a id="signupLink" data-id="signup-page" href="">Sign up</a> | <a id="loginLink" data-id="login-page" href="">Login</a> | <a id="homeLink" data-id="calculator" href="">Home</a> | <a id="refresh" href="">Refresh</a> <a class="extra_nav"></a>
        </header>
        
        <p id="no_user"></p> 
        <div class="calculator all-pages selected">
        <h2>Dilution Calculator</h2>
        <form id="form" data-id="calculatorForm" autocomplete="off">
            <label for="everclear">Alcohol by Volume (ABV) of grain alcohol (not proof)</label><div></div>
            <input type="number" step=".01" pattern="[0-9]*" inputmode="decimal" id="everclear" required><div></div><br>
            <label for="final">Desired ABV of final product (not proof)</label><div></div>
            <input type="number" step=".01" pattern="[0-9]*" inputmode="decimal" id="final" required><div></div><br>
            <label for="volume">Total volume of final product (e.g. 64oz = 64)</label><div></div>
            <input type="number" step=".01" pattern="[0-9]*" inputmode="decimal" id="volume" required><br><br>
            <div><button type="submit" id="calculate">Calculate</button></div>
        </form>
            <div>Volume of grain alcohol needed (ounces/mL/etc.):
            <h2><p id="answer"></p></h2>
            </div>
            <footer>Note: The unit of measure for "Total volume of final product" must match the unit of measure for "Volume of grain alcohol needed" (ounces for ounces, mL for mL, etc.)</footer>
        </div>

        <div class="signup-page all-pages">
            <h2>Create new user</h2>
            <form autocomplete="off" id="user_form" data-id="signupForm">
                <label for="username">Username: </label><br>
                <input type="text", id="signup-username" required><br>
                <label for="password">Password: </label><br>
                <input type="password", id="signup-password" required><br>
                <label for="email">Email: </label><br>
                <input type="email", id="signup-email" required><br>
                <button type="submit" id="submit">Submit</button>
            </form>
        </div>

        <div class="login-page all-pages">
            <h1>User Login</h1>
            <form autocomplete="off" id="login-form" data-id="loginForm">
                <label for="username">Username</label><br>
                <input type="text" id="username" required><br>
                <label for="password">Password</label><br>
                <input type="password" id="password" required><br>
                <button type="submit">Login</button>
            </form>
        </div>

        <div class="server-response all-pages"></div>
    
        <script src="/static/index.js"></script>  

        </body>

    
</html>