<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
        <title>Pando Login</title>
    </head>
    <body>
    <div id="login">
    <header>
        <a id="sign_up" href="">Sign up</a> | <a id="home" href="">Home</a> | <a id="new_post" href="">New Post</a>
    </header> 
    <h1>User Login</h1>
    <form autocomplete="off" id="login_form">
        <label for="username">Username</label><br>
        <input type="text" id="username" required><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" required><br>
        <button type="submit">Login</button>
    </form>
    </div>
    <p id="response"></p>
    
    {% block javascript %}
    <script type="text/javascript">
    {% include "login.js" %}</script>
    {% endblock %}
        
    </body>
</html>