<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new user</title>
</head>
<body>
    <h2>Create new user</h2>
        <div class="createForm">
            <label for="username">Username: </label>
            <input type="text", id="username", autocomplete="off">
        </div>
        <div class="createForm">
            <label for="password">Password: </label>
            <input type="password", id="password", autocomplete="off">
        </div>
        <div class="createForm">
            <label for="email">Email: </label>
            <input type="email", id="email", autocomplete="off">
        </div>
        <div>
            <button type="submit", id="submit">Submit</button>

        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
        {% block javascript %}
        <script type="text/javascript"> 
        {% include "newuser.js" %} 
        </script>
        {% endblock %}
        </div>  
</body>
</html>